<div class="w-full border-[.1em] rounded-md overflow-hidden" [class]="owner()? 'border-blue-400' : 'border-primary-400'">
  <div class="flex flex-wrap items-center justify-between gap-2 text-base border-b-[.1em] px-2 py-1" [class]="owner()? 'bg-blue-600/5 border-blue-400' : 'bg-primary-200 border-primary-400'">
    <div class="flex flex-wrap gap-1">
      <span class="text-[.9rem] font-medium text-secondary-400">{{ ticket().createdBy.firstname }}</span>
      <span class="text-[.8rem] text-secondary-200">{{ 'opened at ' + getDate(ticket().createdAt) }}</span>
    </div>

    @if (owner() || hasAuthority('ticket::edit')) {
      <div class="relative flex gap-2">
        @if (owner()) {
          <span class="text-[.8rem] text-blue-500 border-[.1em] border-blue-400 rounded-md px-2">owner</span>
        }

        @if (!ticket().lock) {
          <div class="w-[1rem] h-[1rem] flex items-center justify-center rounded-[100%] p-3 cursor-pointer hover:bg-primary-300" (click)="toggleUtil()">
            <fa-icon class="text-[.9rem] text-secondary-300" [icon]="util()? 'close' :'ellipsis-vertical'"/>
          </div>

          @if (util()) {
            <div class="absolute right-8 border-[.1em] border-primary-400 rounded-md overflow-hidden">
              <ul>
                <li class="flex items-center gap-2 bg-primary-100 text-[.9rem] text-secondary-400 px-2 py-1 cursor-pointer hover:bg-primary-200" (click)="toggleEdit()" (click)="toggleUtil()">
                  <fa-icon class="text-[.7rem] text-secondary-200" [icon]="'pen'"/>
                  <span>Edit</span>
                </li>
              </ul>
            </div>
          }
        }
      </div>

    }
  </div>
    
  <div class="p-2">
    @if (!edit()) {
      @if (ticket().description) {
        <span class="text-base text-secondary-400">{{ ticket().description }}</span>
      } @else {
        <span class="text-base text-secondary-200">Ticket has no description...</span>
      }
    } @else {
      <div class="w-full flex flex-col gap-2">
        <textarea class="w-full h-20 text-base text-secondary-400 border-[.1em] border-primary-400 rounded-md p-2 focus:border-primary-600" placeholder="Enter a description..."  #description></textarea>
        <div class="flex justify-end flex-wrap gap-2">
          <button class="text-[.9rem] text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md py-1 px-2 cursor-pointer hover:bg-neutral-900/5" type="button" (click)="toggleEdit()">Cancel</button>
          <button class="text-[.9rem] text-white font-medium bg-ogreen-100 border-[.1em] border-ogreen-100 rounded-md py-1 px-2 cursor-pointer hover:border-ogreen-200 hover:bg-ogreen-200" type="button" (click)="updateComment()">Save</button>
        </div>
      </div>
    }
  </div>
</div>
