<div class="flex flex-col gap-4 mx-auto">
  <h1 class="text-2xl text-secondary-400 font-medium">Tickets</h1>

  <div class="text-secondary-400 border-[.1em] border-primary-400 rounded-md">
    <section class="flex items-center justify-between border-b-[.1em] border-primary-400">
      <div class="relative w-full p-2">
        <div class="w-[min(10rem,100%)] flex items-center justify-between text-[.9rem] border-[.1em] border-primary-400 rounded-md bg-primary-100 py-1 px-2 cursor-pointer" (click)="toggleStatusFilter()">
          <div class="flex items-center gap-1">
            <span>{{ status() }}</span>
          </div>
          <fa-icon class="text-[.8rem]" [class]="{'rotate-180': statusFilter()}" [icon]="'angle-down'" />
        </div>

        @if (statusFilter()) {
          <div class="absolute w-[min(100%,10rem)]">
            <ul class="w-[min(10rem,100%)] bg-primary-100 border-[.1em] border-primary-400 rounded-md list-none mt-1">
              @for (val of availableStatus; track val) {
                @if (val !== status()) {
                  <li class="text-[.9rem] not-last:border-b-[.1em] border-primary-400 py-1 px-2 cursor-pointer hover:bg-primary-200" (click)="setStatus(val)">{{ val }}</li>
                }
              }
            </ul>
          </div>
        }
      </div>
    </section>

    <section>
      @if (loading()) {
        <app-shimmer [times]="5" [type]="'CARD_VIEW'"/>
      } @else {
        @if ((tickets$ | async)?.length !=  0) {
          <app-table-item class="table-view" [tickets$]="tickets$" />
        
          <ul class="card-view flex flex-col list-none">
            @for (ticket of (tickets$ | async); track ticket.id) {
              <li class="not-last:border-b-[.1em] border-primary-400" routerLink="{{ ticket.id }}">
                <app-card-item [ticket]="ticket"/>
              </li>
            }
          </ul>
          } @else {
          <div class="flex flex-col items-center justify-center p-4">
            <span class="block text-[1.2rem] text-center text-secondary-400 font-medium">No Tickets</span>
            <span class="block text-[.9rem] text-center text-secondary-300">Try adjusting your filter</span>
          </div>
        } 
      }
    </section>
    
    @if (ticketPage()['next'] || ticketPage()['previous']) {
      <section class="flex items-center justify-end border-t-[.1em] border-primary-400 p-2">
        <app-pagination [hasNext]="ticketPage()['next']" [hasPrev]="ticketPage()['previous']" [page]="page()" (onNext)="getNext()" (onPrev)="getPrev()"/>
      </section>
    }
  </div>
</div>
