@import "tailwindcss";

* {
  outline: none;
}

*::-webkit-scrollbar {
  width: .3em;
  height: .3em;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: .5em;
}
*::-webkit-scrollbar-track {
  background-color: rgb(231, 231, 231);
}

html {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: .9rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: .8rem;
  }
}

@media screen and (max-width: 200px) {
  html {
    font-size: .7rem;
  }
}
