@import "tailwindcss";

html {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: .9rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: .8rem;
  }
}

@media screen and (max-width: 200px) {
  html {
    font-size: .7rem;
  }
}
