.main {
  padding: 2em;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }
  .menubar {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 1em;
  }
}
