.active {
  background-color: #00c950;
  color: #fff;
}

.window {
  padding: 2em;
}

@media screen and (max-width: 800px) {
  .window {
    flex-direction: column;
  }
  .menubar {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .window {
    padding: 1em;
  }
}
