<div class="w-full h-full p-8">
  @if ((tickets$ | async)?.length != 0) {
    <div>
      <div class="border-[.1em] border-gray-200 rounded-sm">
        <div class="flex gap-4 bg-gray-50 py-2 px-4">
          <span class="text-base font-semibold">Open</span>
          <span>Closed</span>
        </div>

        @for (ticket of (tickets$ | async); track ticket.id) {
          <div class="flex gap-4 py-3 px-4 border-t-[.1em] border-t-gray-200 cursor-pointer" routerLink="{{ ticket.id }}">
            <div class="flex flex-col gap-1">
              <div class="flex flex-wrap gap-2 items-center">
                <span class="text-[1.1rem] font-semibold">{{ ticket.title }}</span>
                <span class="text-[.7rem] text-center font-semibold py-0.5 px-4 rounded-[4em]" [class]="{'low': ticket.priority === 'LOW', 'medium': ticket.priority === 'MEDIUM' , 'high': ticket.priority === 'HIGH' }">{{ ticket.priority }}</span>
              </div>
              <span class="text-[.9rem] font-medium text-gray-500">{{ '#' + ticket.id + ' ' + ticket.createdBy.firstname + ' create on ' +  getDate(ticket.createdAt)}}</span>
            </div>
          </div>
        }

        @if(page['prev'] || page['next']) {
          <div class="flex gap-4 py-2 px-4 border-t-[.1em] border-t-gray-200 justify-end">
            <div class="flex gap-2 flex-wrap">
              <button class="border-[.1em] text-[.9rem] rounded-sm py-1 px-4 font-medium disabled:border-gray-300 disabled:text-gray-500 disabled:cursor-auto border-blue-500 text-blue-500 hover:bg-neutral-50 cursor-pointer" [disabled]="!page['prev']" (click)="prev()">Previous</button>
  
              @if(page['prev']) {
                <span class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-gray-300 text-gray-500">{{ count }}</span>
              }
  
              <span class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-blue-500 bg-blue-500 text-white">{{ count + 1 }}</span>
  
              @if(page['next']) {
                <span class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-gray-300 text-gray-500">{{ count + 2 }}</span>
              }
  
              <button class="border-[.1em] text-[.9rem] rounded-sm py-1 px-4 font-medium disabled:border-gray-300 disabled:text-gray-500 disabled:cursor-auto border-blue-500 text-blue-500 hover:bg-neutral-50 cursor-pointer" [disabled]="!page['next']" (click)="next()">Next</button>
            </div>
          </div>
        }
      </div>
    </div>
  }

  @if ((tickets$ | async)?.length == 0) {
    <span class="text-base font-medium">No tickets available....</span>
  }
</div>
