<div class="flex items-center justify-between border-b-[.1em] border-neutral-200 px-4 py-2 navbar">
  <div class="flex gap-4">
    <a class="flex items-center justify-center gap-2 cursor-pointer" target="_blank" href="https://github.com/manishdait/latte">
      <div class="w-5.5rem h-[1.5rem]">
        <img class="w-full h-full object-contain" src="asset/icon.svg" alt="logo">
      </div>
      <span class="bg-green-300/20 text-[.8em] text-green-500 font-semibold rounded-sm px-2 py-[.1em] border-[.1em] border-green-500">{{ 'v.' + version() }}</span>
    </a>

    <div class="flex items-center justify-center hover:bg-neutral-200 w-[1rem] h-[1rem] p-4 rounded-[100%] sidenav-toggle" (click)="sidenavToggle.emit(true)">
      <fa-icon class="text-base text-neutral-800" [class]="sidenavState()? 'rotate-180' : 'rotate-0'" [icon]="'arrow-right-to-bracket'"/>
    </div>
  </div>

  <div class="w-[2.2rem] h-[2.2rem] flex items-center justify-center rounded-[100%] cursor-pointer" [style.background-color]="getColor(username())" routerLink="/home/profile">
    <span class="text-[.9rem] text-white font-medium">{{ username().charAt(0) }}</span>
  </div>
</div>
