@if(editUser()) {
  <app-edit-user [user]="buffer()" (cancel)="editUser.set(false)"/>
}

@if(createUser()) {
  <app-user-form (cancel)="createUser.set(false)"/>
}

@if(resetPassword()) {
  <app-password-form [user]="buffer()" (cancel)="resetPassword.set(false)"/>
}

@if(confirm()) {
  <app-dialog [message]="'Do you want to delete ' + buffer().firstname " (trigger)="confirmTrigger($event)"/>
}

<div class="h-full w-full p-4">
  <div class="flex py-2 gap-5 items-center">
    <h1 class="text-2xl font-medium text-neutral-800">Users</h1>
    <button class="bg-green-500 text-[.9rem] text-white font-medium py-1 px-2 rounded-sm cursor-pointer hover:bg-green-600" type="button" (click)="toggleCreateUser()">Add user</button>
  </div>

  <div class="border-[.1em] border-neutral-200 rounded-sm">
    <div class="flex gap-4 bg-neutral-50 py-2 px-4">
      <span class="text-base font-semibold text-neutral-800">
        Users <span class="text-[.7rem] text-neutral-600 bg-neutral-200 py-0.5 px-1 rounded-sm">{{ (userCount$ | async) }}</span>
      </span>
    </div>

    @for(user of (users$ | async)?.slice(0, size()); track user.firstname) {
      <div class="flex items-center justify-between flex-wrap gap-4 py-3 px-4 border-t-[.1em] border-gray-200 cursor-pointer">
        <div class="flex flex-col gap-0.5">
          <span class="text-[1rem] font-semibold">{{ user.firstname }}</span>
          <span class="text-[.9rem] font-medium text-gray-500">{{ user.email}}</span>
        </div>

        <div class="flex gap-2 flex-wrap">
          @if (user.editable) {
            <button class="text-[.9rem] font-medium px-2 py-1 bg-green-500 border-[.1em] border-green-500 text-white rounded-sm cursor-pointer hover:bg-green-600 hover:border-green-600" type="button" (click)="toggleEditUser(user)">Edit</button>
            <button class="text-[.9rem] font-medium px-2 py-1 border-[.1em] border-neutral-200 text-neutral-500 rounded-sm cursor-pointer hover:bg-neutral-900/5" type="button" (click)="toggleResetPassword(user)">Reset Password</button>
          }

          @if (user.deletable) {
            <button class="text-[.9rem] font-medium px-2 py-1 bg-red-600 border-[.1em] border-red-600 text-white rounded-sm cursor-pointer hover:bg-red-700 hover:border-red-700" type="button" (click)="delete(user)">Delete</button>
          }
        </div>
      </div>
    }

    @if(page()['prev'] || page()['next']) {
      <div class="flex gap-4 p-2 border-t-[.1em] border-neutral-200 justify-end">
        <app-pagination [nextPage]="page()['next']" [prevPage]="page()['prev']" [pageCount]="pageCount()" (next)="next()" (prev)="prev()"/>
      </div>
    }
  </div>
</div>