@if(editUser()) {
  <app-edit-user [user]="buffer()" (cancel)="editUser.set(false)"/>
}

@if(createUser()) {
  <app-user-form (cancel)="createUser.set(false)"/>
}

@if(resetPassword()) {
  <app-password-form [user]="buffer()" (cancel)="resetPassword.set(false)"/>
}

@if(confirm()) {
  <app-dialog [message]="'<span>Are you sure you want to delete ' + buffer().firstname + '?</span>' + '<span>This action will unassign the user from any tickets and transfer ownership of their created tickets to the admin user.</span>'" (trigger)="confirmTrigger($event)"/>
}

<div class="w-full h-full flex flex-col gap-4">
  <section class="flex items-center gap-5 pb-2">
    <h1 class="text-2xl text-secondary-400 font-medium">Users</h1>
    
    <button class="flex gap-1 text-[.9rem] text-secondary-400 font-medium border-[.1em] rounded-md border-primary-400 py-1 px-2 cursor-pointer hover:bg-neutral-900/5" type="button" (click)="toggleCreateUser()" *hasAuthority="['user::create']">
      <fa-icon class="text-secondary-200" [icon]="'plus'"/>
      <span>Add user</span> 
    </button>
    
  </section>

  <div class="border-[.1em] border-primary-400 rounded-md">
    <section class="flex gap-4 border-b-[.1em] border-primary-400 py-2 px-4">
      <span class="text-base text-secondary-400 font-medium">
        Users <span class="bg-primary-300 text-[.7rem] text-secondary-400 rounded-sm py-0.5 px-1">{{ (userCount$ | async) }}</span>
      </span>
    </section>

    <section>
      @if (loading()) {
        <app-shimmer [times]="5" [type]="'USER_LIST'"/>
      } @else {
        <ul>
          @for(user of (users$ | async)?.slice(0, size()); track user.firstname) { 
            <li class="not-last:border-b-[.1em] border-primary-400">
              <div class="flex items-center justify-between flex-wrap gap-4 py-3 px-4 cursor-pointer card">
                <div class="flex flex-col gap-0.5 text-secondary-400">
                  <span class="text-[1rem] font-semibold">{{ user.firstname }}</span>
                  <span class="text-[.9rem] font-medium text-secondary-300">{{ user.email}}</span>
                </div>
        
                <div class="flex gap-2 flex-wrap">
                  @if (user.editable) {
                    <button class="flex items-center gap-1 bg-ogreen-100 text-[.9rem] text-white font-medium border-[.1em] border-ogreen-100 rounded-md px-2 py-1 cursor-pointer hover:border-ogreen-200 hover:bg-ogreen-200" type="button" (click)="toggleEditUser(user)" *hasAuthority="['user::edit']">
                      <fa-icon class="text-[.7rem]" [icon]="'pen'"/>
                      <span>Edit</span>
                    </button>

                    <button class="flex items-center gap-1 text-[.9rem] text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 cursor-pointer hover:bg-neutral-900/5" type="button" (click)="toggleResetPassword(user)" *hasAuthority="['user::reset-password']">
                      <fa-icon class="text-[.7rem]" [icon]="'rotate'"/>
                      <span>Reset Password</span>
                    </button>
                  }
                  @if (user.deletable) {
                    <button class="flex items-center gap-1 text-[.9rem] font-medium text-red-700 border-[.1em] rounded-md border-red-700 px-2 py-1 cursor-pointer hover:bg-neutral-900/5" [disabled]="!user.deletable" type="button" (click)="deleteUser(user)" *hasAuthority="['user::delete']">
                      <fa-icon class="text-[.7rem]" [icon]="'trash'"/>
                      <span>Delete</span>
                    </button>
                  }
                </div>
              </div>
            </li>
          }
        </ul>
      }
    </section>

    @if(userPage()['prev'] || userPage()['next']) {
      <section class="flex gap-4 p-2 border-t-[.1em] border-primary-400 justify-end">
        <app-pagination [hasNext]="userPage()['next']" [hasPrev]="userPage()['prev']" [page]="page()" (onNext)="getNext()" (onPrev)="getPrev()"/>
      </section>
    }
  </div>
</div>