<div class="flex items-center justify-center py-1">
  <form class="w-full flex flex-col gap-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-dropdown [id]="'priority'" [placeholder]="'Please select priority...'" [dropdownItems]="list" formControlName="priority" />

    <div class="flex gap-2">
      <button class="text-[.9rem] text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 cursor-pointer hover:bg-neutral-900/5" type="button" [disabled]="processing()" (click)="toggleCancel()">Cancel</button>
      @if(!processing()) {
        <button class="bg-ogreen-100 text-[.9rem] text-white font-medium  border-[.1em] border-ogreen-100 px-2 py-1 rounded-md cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200" type="submit" [disabled]="processing()">Save</button>
      } @else {
        <app-spinner [size]="'1.5rem'" [color]="'#44ab38'"/>
      }
    </div>
  </form>
</div>