<div class="flex items-center justify-center py-1">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full flex flex-col gap-2">
    <app-dropdown [id]="'assigneto'" [placeholder]="'Please select an engineer...'" [dropdownItems]="engineers()" [hasMore]="hasNext()" [hasUnassign]="true" (onNext)="showMore()" formControlName="assignedTo" />

    <div class="flex gap-2">
      <button class="bg-ogreen-100 text-[.9rem] text-white font-medium  border-[.1em] border-ogreen-100 px-2 py-1 rounded-md cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200" type="submit">Save</button>
      <button class="text-[.9rem] text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 cursor-pointer hover:bg-neutral-900/5" type="button" (click)="toggleCancel()">Cancel</button>
    </div>
  </form>
</div>
