<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-neutral-900/15 p-4 z-50">
  <div class="w-[min(100%,650px)] flex flex-col p-4 gap-4 rounded-sm bg-neutral-50">
    <h1 class="text-2xl text-neutral-800 font-medium">Create Ticket</h1>

    <form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="title">Ticket Title</label>
        <input class="text-base text-neutral-800 px-2 py-1 border-[.1em] border-gray-200 rounded-sm outline-none focus:border-green-600" id="title" placeholder="Enter title for the ticket, keep it short..." formControlName="title">
        @if(formErrors() && (formControls['title'].errors)) {
          <span class="text-sm text-red-600">*Required a title for ticket</span>
        }
      </div>

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="description">Description</label>
        <textarea class="text-base text-neutral-800 px-2 py-1 h-40 border-[.1em] border-gray-200 rounded-sm outline-none focus:border-green-600" id="description" placeholder="Enter extra details here..." formControlName="description"></textarea>
      </div>

      @if (assignOps()) {
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm text-neutral-800" for="assigneto">Assigned To</label>
          <app-dropdown [id]="'assigneto'" [placeholder]="'Please select an engineer...'" [list]="engineers()" [more]="more()" [unassign]="true" (next)="showMore()" formControlName="assignedTo" />
        </div>
      }

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="priority">Priority</label>
        <app-dropdown [id]="'priority'" [placeholder]="'Select a priority...'" [list]="list" formControlName="priority" />
        @if(formErrors() && (formControls['priority'].errors)) {
          <span class="text-sm text-red-600">*Required a priority for ticket</span>
        }
      </div>

      <div class="flex gap-4">
        <button class="text-[.9rem] font-medium px-2 py-1 bg-green-500 border-[.1em] border-green-500 text-white rounded-sm cursor-pointer hover:bg-green-600 hover:border-green-600" type="submit">Create Ticket</button>
        <button class="text-[.9rem] font-medium px-2 py-1 bg-transparent border-[.1em] border-neutral-200 text-neutral-500 rounded-sm cursor-pointer hover:bg-neutral-900/5" type="button" (click)="this.cancel.emit(true)">Cancel</button>
      </div>
    </form>
  </div>
</div>
