<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center translucent-bg p-4">
  <div class="w-[min(100%,650px)] flex flex-col p-4 gap-4 rounded-sm shadow-sm bg-white">
    <h1 class="text-2xl text-neutral-800 font-medium">Create Ticket</h1>

    <form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="title">Ticket Title</label>
        <input class="text-base text-neutral-800 px-2 py-1 border-[.1em] border-gray-200 rounded-sm outline-none focus:border-lime-500" id="title" placeholder="Enter title for the ticket, keep it short..." formControlName="title">
        @if(formErrors && (formControls['title'].errors)) {
          <span class="text-sm text-red-600">*Required a title for ticket</span>
        }
      </div>

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="description">Description</label>
        <textarea class="text-base text-neutral-800 px-2 py-1 h-40 border-[.1em] border-gray-200 rounded-sm outline-none focus:border-lime-500" id="description" placeholder="Enter extra details here..." formControlName="description"></textarea>
      </div>

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="assigneto">Assigned To</label>
        <app-dropdown [id]="'assigneto'" [placeholder]="'Please select an engineer...'" [list]="engineers" [hasMore]="hasMore" [hasUnassign]="true" formControlName="assignedTo" />
      </div>

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="priority">Priority</label>
        <app-dropdown [id]="'priority'" [placeholder]="'Select a priority...'" [list]="priorities" formControlName="priority" />
        @if(formErrors && (formControls['priority'].errors)) {
          <span class="text-sm text-red-600">*Required a priority for ticket</span>
        }
      </div>

      <div class="flex gap-4">
        <button class="text-base font-medium px-2 py-1 bg-lime-500 border-[.1em] border-lime-500 text-white rounded-sm cursor-pointer hover:bg-lime-600 hover:border-lime-600" type="submit">Create Ticket</button>
        <button class="text-base font-medium px-2 py-1 bg-white border-[.1em] border-lime-500 text-lime-500 rounded-sm cursor-pointer hover:bg-gray-100" type="button" (click)="this.cancel.emit(true)">Cancel</button>
      </div>
    </form>
  </div>
</div>
