<div class="flex gap-2 flex-wrap">
  <button class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-neutral-200 text-neutral-500 disabled:text-neutral-300 disabled:cursor-auto disabled:hover:bg-transparent hover:bg-neutral-200 cursor-pointer" [disabled]="!prevPage()" (click)="getPrev()">Previous</button>

  @if(prevPage()) {
    <span class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-neutral-200 text-neutral-500">{{ pageCount() }}</span>
  }

  <span class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-neutral-200 text-neutral-500 bg-neutral-200">{{ pageCount() + 1 }}</span>

  @if(nextPage()) {
    <span class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-neutral-200 text-neutral-500">{{ pageCount() + 2 }}</span>
  }
  <button class="border-[.1em] text-[.9rem] rounded-sm py-1 px-2 font-medium border-neutral-200 text-neutral-500 disabled:text-neutral-300 disabled:cursor-auto disabled:hover:bg-transparent hover:bg-neutral-200 cursor-pointer" [disabled]="!nextPage()" (click)="getNext()">Next</button>
</div>
