<div class="flex flex-col gap-8 mx-auto">
  <h1 class="text-[2.5rem] text-secondary-400 font-medium">{{ greet() + ', ' + user().firstname }}</h1>

  <section class="flex flex-wrap gap-8">
    <div class="min-w-[min(300px,100%)] grow flex flex-col gap-4 bg-primary-200 text-secondary-400 rounded-md p-4">
      <span class="text-base">Total Tickets</span>
      <span class="text-[2.5rem] font-medium">{{ totalTickets$ | async }}</span>
    </div>

    <div class="min-w-[min(300px,100%)] grow flex flex-col gap-4 bg-primary-200 text-secondary-400 rounded-md p-4">  
      <span class="text-base">Open Tickets</span>
      <span class="text-[2.5rem] font-medium">{{ (openTickets$ | async) }}</span>
    </div>

    <div class="min-w-[min(300px,100%)] grow flex flex-col gap-4 bg-primary-200 text-secondary-400 rounded-md p-4">
      <span class="text-base">Closed Tickets</span>
      <span class="text-[2.5rem] font-medium">{{ (closedTickets$ | async) }}</span>
    </div>
  </section>

  <section>
    <h1 class="text-2xl font-medium text-secondary-400 mb-4">Recent Tickets</h1>
    @if (loading()) {
      <app-shimmer [times]="5" [type]="'CARD_VIEW'"/>
    } @else {
      @if (tickets().length > 0) {
      <ul class="flex flex-col list-none border-[.1em] border-primary-400 rounded-md">
        @for(ticket of tickets(); track ticket.id) {
          <li class="not-last:border-b-[.1em] border-primary-400 cursor-pointer" routerLink="{{ '/tickets/'+ticket.id }}">
            <app-card-item [ticket]="ticket"/>
          </li>
        }
      </ul>
      } @else {
        <div class="flex flex-col items-center justify-center border-[.1em] border-primary-400 rounded-md p-4">
          <span class="text-[1.2rem] text-secondary-400 font-medium">No Recent Tickets</span>
          <span class="text-[.9rem] text-secondary-300">Try creating a new ticket</span>
        </div>
      } 
    }
  </section>
</div>
