.low {
  background-color: #00a63d21;
  color: #00a63e;
}

.medium {
  background-color: #e1710021;
  color: #e17100;
}

.high {
  background-color: #e7000b21;
  color: #e7000b;
}

.open {
  background-color: #155dfc21;
  color: #155dfc;
}

.close {
  background-color: #9810fa21;
  color: #9810fa;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #ebebeb 5%, #d4d4d4 25%, #ebebeb 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

