@if(control) {
  <div class="relative">
    <div class="flex items-center justify-between gap-1 border-[.1em] border-primary-400 rounded-md px-2 py-1 mb-1 cursor-pointer" [class]="{'border-primary-600': dropdown()}" (click)="toggleDropdown()">
      <input class="text-base text-secondary-400 pointer-events-none cursor-none" [id]="id()" type="text" [placeholder]="placeholder()" [value]="control.value" [formControl]="control">
      <fa-icon class="text-[.9rem] text-secondary-200 transform" [class]="{'rotate-180' : dropdown()}" [icon]="'angle-down'"></fa-icon>
    </div>

    @if (dropdown()) {
      <div class="absolute w-full max-h-40 flex flex-col bg-primary-100 border-[.1em] border-primary-400 overflow-hidden overflow-y-scroll rounded-md z-10">
        @if(hasUnassign() && control.value !== '') {
          <span class="text-base text-secondary-200 not-last:border-b-[.1em] border-primary-400 px-2 py-1 cursor-pointer hover:bg-primary-200" (click)="select('')">Unassigned</span>
        }
  
        @for(element of dropdownItems(); track element) {
          @if (control.value !== element) {
            <span class="text-base text-secondary-400 not-last:border-b-[.1em] border-primary-400 px-2 py-1 cursor-pointer hover:bg-primary-200" (click)="select(element)">{{ element }}</span>
          }
        }
        @if(hasMore()) {
          <span class="text-base text-secondary-200 px-2 py-1 cursor-pointer hover:bg-neutral-200" (click)="onNext.emit(true)">Show more...</span>
        }
      </div>
    }
    
  </div>
}
