<table>
  <thead>
    <tr>
      <th class="w-20">ID</th>
      <th>TITLE</th>
      <th class="w-25">PRIORITY</th>
      <th class="w-25">STATUS</th>
      <th class="w-35">ASSIGNEE</th>
      <th class="w-35">LAST UPDATED</th>
      <th class="w-10"></th>
    </tr>
  </thead>

  <tbody>
    @for(ticket of (tickets$() | async); track ticket.id) {
      <tr class="not-last:border-b-[.1em] border-primary-400">
        <td>{{ '#' + ticket.id }}</td>
        <td>
          <div class="flex flex-col">
            <span class="font-semibold">{{ ticket.title.length > 80 ? ticket.title.substring(80) + '...' : ticket.title  }}</span>
            @if (ticket.description.length > 0) {
              <span class="text-secondary-300">{{ ticket.description.length > 50 ? ticket.description.substring(0, 60) + '...' : ticket.description  }}</span>
            } @else {
              <span class="text-secondary-300">{{ 'No description...' }}</span>
            }
          </div>
        </td>
        <td><span class="px-2 py-1 rounded-md" [class]="{'low': ticket.priority === 'LOW', 'medium': ticket.priority === 'MEDIUM' , 'high': ticket.priority === 'HIGH' }">{{ priority[ticket.priority] }}</span></td>
        <td><span class="px-2 py-1 rounded-md" [class]="{'open': ticket.status === 'OPEN', 'close': ticket.status === 'CLOSE'}">{{ status[ticket.status] }}</span></td>
        <td>{{ ticket.assignedTo? ticket.assignedTo.firstname : 'None' }}</td>
        <td>Sept 24, 2002</td>
        <td class="cursor-pointer" routerLink="{{ ticket.id }}"><fa-icon class="text-secondary-300" [icon]="'up-right-from-square'"/></td>
      </tr>
    }
  </tbody>
</table>
