<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-neutral-900/15 p-4 z-50">
  <div class="w-[min(100%,400px)] flex flex-col p-4 gap-8 rounded-md  bg-primary-100">
    <div class="flex flex-col gap-1">
      <h1 class="text-2xl text-secondary-400 font-medium">Confirm</h1>
      <div class="text-base text-secondary-300 flex flex-col gap-1" [innerHTML]="message()"></div>
    </div>

    <div class="flex gap-2">
      <button class="bg-ogreen-100 text-[.9rem] text-white font-medium border-[.1em] border-ogreen-100 rounded-md px-2 py-1 cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200" type="button" (click)="toggleTrigger(true)">Yes</button>
      <button class="bg-red-700 text-[.9rem] text-white font-medium border-[.1em] border-red-700 rounded-md px-2 py-1 cursor-pointer hover:bg-red-800 hover:border-red-800" type="button" (click)="toggleTrigger(false)">No</button>
    </div>
  </div>
</div>