<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-neutral-900/15 p-4 z-50">
  <div class="w-[min(100%,650px)] flex flex-col p-4 rounded-md bg-primary-100">
    <h1 class="text-2xl text-secondary-400 font-medium">Create Role</h1>

    <form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-secondary-400" for="role">Title</label>
        <input class="text-base text-secondary-400 border-[.1em] border-primary-400 rounded-md px-2 py-1 focus:border-primary-600" id="role" placeholder="Enter title for role..." formControlName="role">
        @if (formError() && formControl['role'].errors) {
          <span class="text-sm text-red-700">*Required title for role</span>
        }
      </div>

      <span class="text-2xl text-secondary-200">Permissions</span>

      <div class="mb-4 flex flex-col gap-2 my-4">
        <label class="text-[1rem] font-medium text-secondary-400">User Management</label>

        <div class="grid grid-cols-2 gap-4">
          <div class="flex items-center gap-1">
            <input id="user:create" type="checkbox" formControlName="user::create">
            <label class="text-secondary-200" for="user:create">user::create</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="user:edit" formControlName="user::edit">
            <label class="text-secondary-200" for="user:edit">user::edit</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="user:delete" formControlName="user::delete">
            <label class="text-secondary-200" for="user:delete">user::delete</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="reset:pass" formControlName="user::reset-password">
            <label class="text-secondary-200" for="reset:pass">user::reset-password</label>
          </div>
        </div>
      </div>

      <div class="mb-4 flex flex-col gap-2 my-4">
        <label class="text-[1rem] font-medium text-secondary-400">Ticket Management</label>

        <div class="grid grid-cols-2 gap-4">
          <div class="flex items-center gap-1">
            <input type="checkbox" id="ticket:create" formControlName="ticket::create">
            <label class="text-secondary-200" for="ticket:create">ticket::create</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="ticket:edit" formControlName="ticket::edit">
            <label class="text-secondary-200" for="ticket:edit">ticket::edit</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="ticket:assign" formControlName="ticket::assign">
            <label class="text-secondary-200" for="ticket:assign">ticket::assign</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="ticket:delete" formControlName="ticket::delete">
            <label class="text-secondary-200" for="ticket:delete">ticket::delete</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="ticket:lock" formControlName="ticket::lock-unlock">
            <label class="text-secondary-200" for="ticket:lock">ticket::lock-unlock</label>
          </div>
        </div>
      </div>

      <div class="mb-4 flex flex-col gap-2 my-4">
        <label class="text-[1rem] font-medium text-secondary-400">Client Management</label>

        <div class="grid grid-cols-2 gap-4">
          <div class="flex items-center gap-1">
            <input type="checkbox" id="client:create" formControlName="client::create">
            <label class="text-secondary-200" for="client:create">client::create</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="client:edit" formControlName="client::edit">
            <label class="text-secondary-200" for="client:edit">client::edit</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="client:delete" formControlName="client::delete">
            <label class="text-secondary-200" for="client:delete">client::delete</label>
          </div>
        </div>
      </div>
      
      <div class="mb-4 flex flex-col gap-2 my-4">
        <label class="text-[1rem] font-medium text-secondary-400">Role Management</label>

        <div class="grid grid-cols-2 gap-4">
          <div class="flex items-center gap-1">
            <input type="checkbox" id="role:create" formControlName="role::create">
            <label class="text-secondary-200" for="role:create">role::create</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="role:edit" formControlName="role::edit">
            <label class="text-secondary-200" for="role:edit">role::edit</label>
          </div>

          <div class="flex items-center gap-1">
            <input type="checkbox" id="role:delete" formControlName="role::delete">
            <label class="text-secondary-200" for="role:delete">role::delete</label>
          </div>
        </div>
      </div>

      <div class="flex gap-4 mt-10">
        <button class="text-[.9rem] text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 cursor-pointer hover:bg-neutral-900/5" [disabled]="processing()" type="button" (click)="cancel.emit(true)">Cancel</button>
        @if (!processing()) {
          <button class="text-[.9rem] text-white font-medium bg-ogreen-100 border-[.1em] border-ogreen-100 rounded-md px-2 py-1 cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200" [disabled]="processing()" type="submit">Submit</button>
        } @else {
          <app-spinner [size]="'1.5rem'" [color]="'#44ab38'"/>
        }
      </div>
    </form>
  </div>
</div>
