[type=checkbox] {
  display: none;
}

[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 1.4em;
  line-height: .9rem;
  cursor: pointer;
}

[type=checkbox] + label::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 0;
  border: .1em solid #ddd;
  border-radius: .1em;
}

[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 0;
  overflow: hidden;
  background: url(../../../../../public/asset/check.svg) no-repeat;
  background-size: contain;
  border: .1em solid #2b6eff;
  border-radius: .1em;
}

