<div class="w-screen h-screen bg-primary-100">
  <div class="w-[min(100vw,450px)] h-screen flex flex-col items-center justify-center gap-8 p-4 mx-auto">
    <div class="w-[10rem] h-[5rem]">
      <img class="w-full h-full object-contain" src="asset/icon.svg" alt="logo">
    </div>

    <div class="w-full">
      <h1 class="text-[1.8rem] text-secondary-500 text-center font-bold">Sign in to your account</h1>
  
      <form class="w-full border-[.1em] border-primary-400 rounded-md p-4 mt-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm text-secondary-400" for="email">Email Address</label>
          <input class="text-base text-secondary-400 border-[.1em] border-primary-400 rounded-md px-2 py-1 focus:border-primary-600" id="email" type="email" placeholder="petergriffin@something.com" formControlName="email">
          @if(formError() && (formControls['email'].errors && formControls['email'].errors['required'])) {
            <span class="text-sm text-red-700">*Required email address</span>
          }
          @if(formError() && (formControls['email'].errors && formControls['email'].errors['email'])) {
            <span class="text-sm text-red-700">*Enter valid email address</span>
          }
        </div>
  
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm text-secondary-400" for="password">Password</label>
          <app-password [id]="'password'" [placeholder]="'your-secret'" formControlName="password"/>
          @if(formError() && (formControls['password'].errors && formControls['password'].errors['required'])) {
            <span class="text-sm text-red-700">*Required password</span>
          }
          @if(formError() && (formControls['password'].errors && formControls['password'].errors['minlength'])) {
            <span class="text-sm text-red-700">*Pasword must have minimum 8 character</span>
          }
        </div>
  
        <button class="w-full bg-ogreen-100 text-base text-white font-medium border-[.1em] border-ogreen-100 rounded-md px-2 my-2 cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200" [disabled]="processing()" [class]="{'py-1': !processing()}" type="submit">
          @if(processing()) {
            <app-spinner [size]="'1.5rem'"/>
          } @else {
            <span>Sign in</span>
          }
        </button>
      </form>
    </div>
  </div>
</div>
