@if(confirm()) {
  <app-dialog [message]="message()" (trigger)="confirmTrigger($event)"/>
} 

<div class="w-full flex flex-col gap-4">
  <div class="flex flex-col gap-1">
    <h1 class="text-2xl text-secondary-400 font-medium">Profile</h1>
    <span class="text-base text-secondary-300">The information is related to your account so be careful while updating</span>
  </div>
  
  <div class="border-[.1em] border-primary-400 rounded-md p-4">
    <form [formGroup]="userDetailsForm" (ngSubmit)="onUpdateUserDetails()">
      <div class="flex flex-col gap-1">
        <label class="text-sm text-secondary-400" for="firstname">Firstname</label>
        <input class="text-base text-secondary-400 border-[.1em] border-primary-400 rounded-md px-2 py-1 focus:border-primary-600" type="text" id="firstname" [value]="userDetails().firstname" (input)="changeFirstname(firstname.value)" placeholder="Enter firstname for user..." formControlName="firstname" #firstname>
        @if(userDetailsFormError() && (userDetailsFormControl['firstname'].errors && userDetailsFormControl['firstname'].errors['required'])) {
          <span class="text-sm text-red-700">*Required firstname</span>
        }
      </div>
    
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-secondary-400" for="email">Email</label>
        <input class="text-base text-secondary-400 border-[.1em] border-primary-400 rounded-md px-2 py-1 focus:border-primary-600" type="text" id="email" [value]="userDetails().email" (input)="changeEmail(email.value)" placeholder="Enter email for user..." formControlName="email" #email>
        @if(userDetailsFormError() && (userDetailsFormControl['email'].errors && userDetailsFormControl['email'].errors['required'])) {
          <span class="text-sm text-red-700">*Required email address</span>
        }
        @if(userDetailsFormError() && (userDetailsFormControl['email'].errors && userDetailsFormControl['email'].errors['email'])) {
          <span class="text-sm text-red-700">*Enter valid email address</span>
        }
      </div>
    
      <button class="bg-ogreen-100 text-[.9rem] text-white font-medium border-[.1em] border-ogreen-600 rounded-md px-2 py-1 cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200 disabled:bg-primary-400 disabled:border-primary-400 disabled:cursor-auto" [disabled]="!bufferUpdated()">Save</button>  
    </form>
  </div>

  @if(userDetails().editable && passwordReset()) {
    <div class="border-[.1em] border-primary-400 rounded-md p-4">
      <h1 class="text-[1.2rem] text-secondary-400 font-medium mb-4">Reset Password</h1>
  
      <form [formGroup]="passwordResetForm" (ngSubmit)="onResetPassword()">
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm text-secondary-400" for="updatedPassword">Updated Password</label>
          <app-password [id]="'updatedPassword'" [placeholder]="'Enter updated password'" formControlName="updatedPassword"/>
          @if(passwordResetFormError() && (passwordResetControl['updatedPassword'].errors && passwordResetControl['updatedPassword'].errors['required'])) {
            <span class="text-sm text-red-700">*Required password</span>
          }
          @if(passwordResetFormError() && (passwordResetControl['updatedPassword'].errors && passwordResetControl['updatedPassword'].errors['minlength'])) {
            <span class="text-sm text-red-700">*Pasword must have minimum 8 character</span>
          }
        </div>
  
        <div class="flex flex-col gap-1 my-4">
          <label class="text-sm text-secondary-400" for="confirmPassword">Confirm Password</label>
          <app-password [id]="'confirmPassword'" [placeholder]="'Confirm password'" formControlName="confirmPassword"/>
          @if(passwordResetFormError() && (passwordResetControl['confirmPassword'].errors && passwordResetControl['confirmPassword'].errors['required'])) {
            <span class="text-sm text-red-700">*Required password</span>
          }
          @if(passwordResetFormError() && (passwordResetControl['confirmPassword'].errors && passwordResetControl['confirmPassword'].errors['minlength'])) {
            <span class="text-sm text-red-700">*Pasword must have minimum 8 character</span>
          }
          @if(passwordResetFormError() && (!passwordResetControl['confirmPassword'].errors && passwordResetControl['confirmPassword'].value !== passwordResetControl['updatedPassword'].value)) {
            <span class="text-sm text-red-700">*Update password and Confirm password not match</span>
          }
        </div>
  
        <div class="flex gap-4">
          <button class="bg-ogreen-100 text-[.9rem] text-white font-medium border-[.1em] border-ogreen-200 rounded-md px-2 py-1 cursor-pointer hover:bg-ogreen-200 hover:border-ogreen-200">Reset</button>
          <button class="text-[.9rem] font-medium text-secondary-400 border-[.1em] border-primary-400 rounded-md px-2 py-1 cursor-pointer hover:bg-neutral-900/5" type="button" (click)="togglePasswordReset()">Cancel</button>
        </div>
      </form>
    </div>
  }

  <div class="flex gap-2">
    <button class="bg-red-700 text-[.9rem] text-white font-medium border-[.1em] border-red-700 px-2 py-1 rounded-md cursor-pointer hover:bg-red-800 hover:border-red-800" type="button" (click)="logout()">Logout</button>
    @if(userDetails().editable && !passwordReset()) {
      <button class="text-[.9rem] text-secondary-400 font-medium border-[.1em] border-primary-400 rounded-md px-2 py-1 cursor-pointer hover:bg-neutral-900/5" type="button" (click)="togglePasswordReset()">Reset Password</button>
    }
  </div>
</div>