<div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center translucent-bg p-4">
  <div class="w-[min(100%,650px)] flex flex-col p-4 gap-4 rounded-sm shadow-sm bg-white">
    <h1 class="text-2xl text-neutral-800 font-medium">{{ 'Reset Password, For ' + user?.firstname}} </h1>

    <form class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm text-neutral-800" for="updatedPassword">Updated Password</label>
        <app-password [id]="'updatedPassword'" [placeholder]="'Enter updated password'" formControlName="updatedPassword"/>
        @if(formErrors && (formControls['updatedPassword'].errors && formControls['updatedPassword'].errors['required'])) {
          <span class="text-sm text-red-500">*Required password</span>
        }
        @if(formErrors && (formControls['updatedPassword'].errors && formControls['updatedPassword'].errors['minlength'])) {
          <span class="text-sm text-red-500">*Pasword must have minimum 8 character</span>
        }
      </div>

      <div class="flex flex-col gap-1 my-4">
        <label class="text-sm" for="confirmPassword">Confirm Password</label>
        <app-password [id]="'confirmPassword'" [placeholder]="'Confirm password'" formControlName="confirmPassword"/>
        @if(formErrors && (formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['required'])) {
          <span class="text-sm text-red-500">*Required password</span>
        }
        @if(formErrors && (formControls['confirmPassword'].errors && formControls['confirmPassword'].errors['minlength'])) {
          <span class="text-sm text-red-500">*Pasword must have minimum 8 character</span>
        }
        @if(formErrors && (!formControls['confirmPassword'].errors && formControls['confirmPassword'].value !== formControls['updatedPassword'].value)) {
          <span class="text-sm text-red-500">*Update password and Confirm password not match</span>
        }
      </div>

      <div class="flex gap-4">
        <button class="text-base font-medium px-2 py-1 bg-lime-500 border-[.1em] border-lime-500 text-white rounded-sm cursor-pointer hover:bg-lime-600 hover:border-lime-600" type="submit">Reset</button>
        <button class="text-base font-medium px-2 py-1 bg-white border-[.1em] border-lime-500 text-lime-500 rounded-sm cursor-pointer hover:bg-gray-100" type="button" (click)="cancel.emit(true)">Cancel</button>
      </div>
    </form>
  </div>
</div>
